<div class="container">
	<div class="row">
		<div class="col-xs-6">

			<h3>ジャンル一覧・追加</h3>
			<br>
			<table class="table table-hover table-inverse">
				<thead>
					<tr>
						<th>ジャンル</th>
						<th>状態</th>
						<th>   </th>
					</tr>
				</thead>

				<tbody>
					
					<tr>
						<td>ケーキ</td>
						<td>有効</td>
						<td>編集する</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>