<div class='col-lg-10 offset-lg-1 space'>
  <div class='row space'>
    <h2>注文情報入力</h2>
  </div>

    <%= form_with(model: @order, local: true, url: {action: 'check'}) do |f| %>

<!-- 支払い方法選択　-->
<div class="row">
	<h3><%= f.label :支払い方法　%></h3>
</div>
<div class="row">
      <label><%= f.radio_button :is_payment_method, true, {checked: true} %> クレジットカード</label>
</div>
<div class="row">
      <label><%= f.radio_button :is_payment_method, false, {} %> 銀行振込</label>
</div>

<% end %>