
<div class="thanks-container">
	<div class="row">
		<div class="col-xs-11">
			<div style = "text-align: right">
				<br>

				<h2>ご購入ありがとうございます!</h2>

				<h2>到着まで今しばらくお待ちください</h2>
			</div>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>




