<div class="main-container">
  <div class="about-text">
    <div style = "text-align: center">
  	<br>

		<h1>About</h1>

		<p style ="size: 10000px;">ながのcakeは全国発送可能なケーキ屋さんです。<br>
			お子様からお年寄りの方までお召し上がりいただけるよう、<br>
			様々なバリエーションをご用意しております。<br>
			また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
		ぜひご注文ください。</p>
		<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
		 長野県長野市x-x-xx
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>