// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-container{
	background-image: image-url('cakes5.jpg');
	background-size: cover;
	background-repeat:no-repeat;
  background-attachment:fixed;
  height: 1000px;
}

#container-bg{
  height: 500px;
}
.image1 {
  background-image: image-url('cake10.jpg');
}
.image2 {
  background-image: image-url('cake9.jpg');
}
.image3 {
  background-image: image-url('cake8.jpg');
}
.image4 {
  background-image: image-url('cake5.jpg');
}
.image5 {
  background-image: image-url('cake6.jpg');
}
.image6 {
  background-image: image-url('cake7.jpg');
}