// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.thanks-container{
	background-image: image-url('cakes5.jpg');
	background-size: cover;
	background-repeat:no-repeat;
    background-attachment:fixed;
    height: 1000px;
}
#container-bg{
  height: 500px;
}