<footer class="container">
  <div class="footer-icons">
  	<span><i class="fab fa-instagram fab faa-wrench animated-hover"></i></span>
    <span><i class="fab fa-twitter faa-wrench animated-hover"></i></span>
    <span><i class="fab fa-facebook-f faa-wrench animated-hover"></i></span>
  </div>
  <h1>infomation</h1><br>
  <div class="footer-info-contents flex">
    <div class="footer-info-box">
      <h3>お問い合わせ</h3>
        <p class="info-text">
          ながのcake<br>
          TEL　：000-0000-0000 <br>
          MAIL ：000@00000000.com <br>
          営業時間：午前10:00～午後18:00 <br>
          ※年末年始、祝日は定休日となります。
        </p>
    </div>
    <div class="footer-info-box">
      <h3>アクセス</h3>
        <p class="info-text">
          〒000-0000<br>
          東京都×××××××××××××<br>
          JR長野駅東口から徒歩10分<br>
        </p>
    </div>
    <div class="footer-info-box">
      <h3>お支払い方法について</h3>
        <p class="info-text">
          お支払いは以下の方法がご利用いただけます。<br>
          ・クレジットカード決済<br>
          ・銀行振り込み<br>
          <br>
          下記のカード会社がご利用いただけます。<br>
        </p>
        <div class="card-image">
          <%= image_tag('card.jpg', style: "width: 150x; height: 70px;") %>
        </div><br>
    </div>
  </div>
  <div class="container-fluid">
    <div class="footer-under-line">
      <p>©copyright チーム炭水化物 All Rights Reserved.</p>
    </div>
  </div>
</footer>